<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>

<form action="/students/create" method="post">

    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" th:value="${student.firstName}">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" th:value="${student.lastName}">

    <br>
    <button type="submit">Create</button>
</form>

<a href="/students"> Back to Students List</a>

</body>
</html>